<script>
   new Analytics(<%= analytics_data.to_json.html_safe %>);
</script>
<div id="placeholder_by_debate_analytics" style="width:860px;height:300px;"></div>
<div id="overview_by_debate_analytics" style="margin-top:20px;width:860px;height:100px"></div>