<ul>
  <li>
    <%= button_to t('button.yes_counter', :count => debate.yes_count), debate_question_debate_votes_path(debate.id, :vote => 1),
                  :method => :post, :remote => true, :disabled => voted?(debate, :yes) %>
  </li>
  <li>
    <%= button_to t('button.no_counter', :count => debate.no_count), debate_question_debate_votes_path(debate.id, :vote => -1),
                  :method => :post, :remote => true, :disabled => voted?(debate, :no) %>
  </li>
  <li>
    <%= button_to t('button.neutral_counter', :count => debate.neutral_count), debate_question_debate_votes_path(debate.id, :vote => 0),
                  :method => :post, :remote => true, :disabled => voted?(debate, :neutral) %>
  </li>
</ul>
