<div id="debate">
    <p><%= debate_question.body %></p>
    <p>Yes votes <%= debate_question.yes_count %></p>
    <p>No votes <%= debate_question.no_count %></p>
    <p>Neutral votes <%= debate_question.neutral_count %></p>
</div>