<% session[:system_message][:notice].each do |msg| %>
    <span class="notice"> <%= msg %> </span> </br>
<% end %>

<% session[:system_message][:error].each do |msg| %>
    <span class="error"> <%= msg %> </span> </br>
<% end %>
