<% session[:system_message][:notice].each do |msg| %>
    <div class="notice"> <%= msg %> </div> </br>
<% end %>

<% session[:system_message][:error].each do |msg| %>
    <div class="error"> <%= msg %> </div> </br>
<% end %>
